.header {
  background-color: rgb(200, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 30px 0px 100px 0px;
}

.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}

.headerList {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}

.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.7s;
}

.headerListItem:hover {
  color: rgba(255, 255, 255, 0.507);
  cursor: pointer;
  transform: scale(1.1);
}

.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}

.headerDesc {
  margin: 20px 0px;
}

.headerBtn {
  background-color: rgb(251, 63, 63);
  color: white;
  border-radius: 10px;
  font-weight: 700;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.7s;
}

.headerBtn:hover {
  background-color: rgb(255, 61, 61);
  box-shadow: 0 0 10px;
  transform: scale(1.1);
}

.headerSearch {
  height: 30px;
  background-color: white;
  border: 3px solid #febb02;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}

.headerIcon {
  color: lightgray;
}

.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerSearchInput {
  border: none;
  outline: none;
}

.headerSearchText {
  color: lightgray;
  cursor: pointer;
}

.date {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.options {
  z-index: 2;
  position: absolute;
  top: 50px;
  background-color: rgb(254, 212, 212);
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
  width: 200px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.optionCounter {
  display: flex;
  align-items: center;
  gap: 12px;
  color: black;
}

.optionCounterButton {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(300, 35, 35);
  color: rgb(300, 35, 35);
  cursor: pointer;
  font-size: 20px;
  background: #fff;
  border-radius: 100%;
  transition: all 0.3s;
}

.optionCounterButton:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px;
}

.optionCounterButton:disabled {
  cursor: not-allowed;
}
